{
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "overrides": [],
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
